/* line 9, ../sass/demo.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/demo.scss */
div {
  background: #e8b38e;
  height: 100vh;
}

/* line 19, ../sass/demo.scss */
.one {
  width: 320px;
  float: left;
  margin-right: -100%;
  margin-left: 0;
}

/* line 23, ../sass/demo.scss */
.two {
  width: -webkit-calc((((100% - (320px + 2em)) / (3))) * 1);
  width: calc((((100% - (320px + 2em)) / (3))) * 1);
  float: left;
  margin-right: -100%;
  margin-left: -webkit-calc((320px + 1em));
  margin-left: calc((320px + 1em));
}

/* line 27, ../sass/demo.scss */
.three {
  width: -webkit-calc((((100% - (320px + 2em)) / (3))) * 2);
  width: calc((((100% - (320px + 2em)) / (3))) * 2);
  float: right;
  margin-left: 0;
  margin-right: 0;
}
